interactions:
  - request:
      body: null
      headers:
        Content-Type:
          - application/vnd.whispir.workspace-v1+json
        authorization:
          - Basic VTUzUk40TTM6UDRaWlcwUkQ=
        x-api-key:
          - V4L1D4P1K3Y
      method: GET
      uri: https://api.us.whispir.com/callbacks
    response:
      body:
        string: |-
          {
            "status" : "1 to 3 of 3",
            "callbacks" : [ {
              "id" : "BCD374DABC73649B",
              "name" : "Sample Callback 1",
              "url" : "http://myserver.com/callback1.php",
              "link" : [ {
                "uri" : "https://api.us.whispir.com/callbacks/BCD374DABC73649B?apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            },{
              "id" : "AD34DBCEFD74EABC",
              "name" : "Sample Callback 2",
              "url" : "http://myserver.com/callback2.php",
              "link" : [ {
                "uri" : "https://api.us.whispir.com/callbacks/AD34DBCEFD74EABC?apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            },{
              "id" : "73BDCEFA43DF35DB",
              "name" : "Sample Callback 3",
              "url" : "http://myserver.com/callback3.php",
              "link" : [ {
                "uri" : "https://api.us.whispir.com/callbacks/73BDCEFA43DF35DB?apikey=V4L1D4P1K3Y",
                "rel" : "self",
                "method" : "GET"
              } ]
            }, ],
            "link" : [ ]
          }
      headers:
        Content-Type:
          - application/vnd.whispir.workspace-v1+json
        x-amz-apigw-id:
          - Ln1TFHh-SK4FigQ=
        x-amzn-Remapped-Connection:
          - keep-alive
        x-amzn-Remapped-Date:
          - Tue, 14 Aug 2018 16:25:30 GMT
        x-amzn-Remapped-Server:
          - Apache
        x-amzn-RequestId:
          - a8fae160-9fde-11e8-8655-3b328a01601b
      status:
        code: 200
        message: OK
version: 1
